@use 'sass:color';

$color: #fff;
$color-primary: #734b33; // Brun foncé
$color-blue: #274c5e; // Bleu foncé
$color-orange: #ac6b26; // Orange
$color-brun: #6b5638; // Brun moyen
$color-marron-sombre: #4a3620; // Marron sombre
$color-noir: #1e1e1e; // Noir

$color-primary-light: color.scale($color-primary, $lightness: 20%);
$color-primary-ultra-light: color.scale($color-primary, $lightness: 60%);
$color-primary-middle-light: color.scale($color-primary, $lightness: 40%);

$color-blue-light: color.scale($color-blue, $lightness: 85%);
$color-orange-light: color.scale($color-orange, $lightness: 20%);
